<div class="footer-content container">
    <div class="row">
        <div class="col d-flex justify-content-center">
            <p> FOLLOW US</p>
        </div>
    </div>
    <div class="row">
        <div class="col d-flex justify-content-center">
            <svg [cIcon]="icons.cibFacebook" size="xl" width="30" class="filter-white"></svg>
            <svg [cIcon]="icons.cibTwitter" size="xl" width="30" class="filter-white"></svg>
            <svg [cIcon]="icons.cibLinkedin" size="xl" width="30" class="filter-white"></svg>
            <svg [cIcon]="icons.cibYoutube" size="xl" width="30" class="filter-white"></svg>
            <svg [cIcon]="icons.cibInstagram" size="xl" width="30" class="filter-white"></svg>
            <svg [cIcon]="icons.cibTiktok" size="xl" width="30" class="filter-white"></svg>
        </div>    
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col">hiring links</div> 
        <div class="col">some other links</div> 
        <div class="col">address</div>  
    </div>
    <div class="row">
        <div class="col">copyright</div>     
    </div>
</div>