<div class="footer-wrap">
    <div class="container footer-content">
        <div class="row trimmed">
            <div class="col">
                <span><a class="footer-link" href="https://revature.com/eeo-policy/">Equal Employment</a></span>
                <span><a class="footer-link" href="https://revature.com/privacy-policy/">Privacy Policy</a></span>
                <span><a class="footer-link" href="https://revature.com/terms-and-conditions/">Terms & Service</a></span>
                <span><a class="footer-link" href="https://revature.com/resources/your-top-revature-questions-answered/">FAQ</a></span>
            </div>
            <div class="col d-flex justify-content-end">&copy; 2023 All rights reserved</div>
        </div>
    </div>
</div>