<div class="footer-content container-fluid">
    <div class="row">
        <div class="col d-flex justify-content-center">
            <p>FOLLOW US</p>
        </div>
    </div>
    <div class="row">
        <div class="col d-flex justify-content-center">
            <svg [cIcon]="icons.cibFacebook" size="xl" width="30" class="filter-white"></svg>
            <svg [cIcon]="icons.cibTwitter" size="xl" width="30" class="filter-white"></svg>
            <svg [cIcon]="icons.cibLinkedin" size="xl" width="30" class="filter-white"></svg>
            <svg [cIcon]="icons.cibYoutube" size="xl" width="30" class="filter-white"></svg>
            <svg [cIcon]="icons.cibInstagram" size="xl" width="30" class="filter-white"></svg>
            <svg [cIcon]="icons.cibTiktok" size="xl" width="30" class="filter-white"></svg>
        </div>
    </div>
    <div class="row mx-5 my-4">
        <div class="col-5 d-flex flex-column">
            <p>HIRE TALENT</p>
            <p>GET HIRED</p>
            <p>LEARN TO CODE</p>
            <p>PARTNERS</p>
            <p>CORPORATE JOB OPENINGS</p>
        </div>
        <div class="col-5">
            <p>OUR TEAM</p>
            <p>Job Openings</p>
            <p>Social Responsibility</p>
            <p>Diversity & Inclusion</p>
        </div>
        <div class="col">
            <p>CONTACT</p>
            <p>info@revature.com</p>
            <p>P703 570 8181</p>
            <p>CORPORATE HEADQUARTERS</p>
            <p>11730 Plaza America Dr. 2nd Floor</p>
            <p>Reston, VA 20190</p>
            <p>Office Locations</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <span>Equal Employment</span>
            <span>Privacy Policy</span>
            <span>Terms & Service</span>
            <span>FAQ</span>
        </div>
        <div class="col d-flex justify-content-end">&copy; 2021 All rights reserved</div>
    </div>
</div>