<nav class="navbar bg-light">
    <div class="container-fluid navigation">
        <span class="navbar-brand mb-0 cursor-pointer" routerLink="/quiz">
            <img class="d-inline-block align-text-bottom brand" alt="revature-logo"
                src="assets/REVATURE-PrimaryLogo-FullClr.svg">
        </span>
        <span class="tab cursor-pointer" routerLink="/quiz">
            Quizzes
        </span>
        <span class="tab cursor-pointer" routerLink="/report">
            Reports
        </span>
    </div>
</nav>