<div class="container">
    <div *ngIf="!this.loading else loadingComponent" class="details-form">
        <form [formGroup]="userForm" (submit)="onInviteLinkClick()">
            <div class="form-group">
                <label for="name">Name: </label>
                <input type="text" class="form-control" formControlName="name">
            </div>
            <div class="form-group">
                <label for="email">Email: </label>
                <input type="text" class="form-control" formControlName="email">
            </div>
            <div class="form-group btn-margin">
                <input type="submit" value="Go To Test" class="btn login-btn btn-outline-revature-primary" />
            </div>
        </form>
    </div>
    <ng-template #loadingComponent>
        <app-loading></app-loading>
    </ng-template>
</div>