.thankyou-page {
    background: linear-gradient(180deg, #30A0CC 0%, #0741CB 74.48%);
    border-radius: 15px;
    min-height: 75vh;
    margin-bottom: 2%;
    
    display: flex;
    align-items: center;
}

.center {
    text-align: center;
}

img {
    width: 300px;
}

h1 {
    color: var(--revature-orange);
    font-family: 'Roboto';
    font-weight: 700;
    color: var(--revature-white);
}

p {
    font-size: 17pt;
    font-weight: 400;
    color: var(--revature-white);
    opacity: 0.7;
}
