<div class="container">
    <div *ngIf="!this.loading else loadingComponent">
        <p>Seems like you know this subject well. Why don't you try a mock interview? </p>
        <button type="button" [cModalToggle]="userModal.id" cButton class="btn btn-outline-revature-primary">Click
            here</button>
        <p class="top-margin">It only takes 15 minutes and you'll get a result right after</p>
    </div>
    <ng-template #loadingComponent>
        <app-loading></app-loading>
    </ng-template>

    <c-modal #userModal alignment="center" backdrop="static" id="userModal">
        <c-modal-header>
            <h5 cModalTitle>Your Details</h5>
            <button [cModalToggle]="userModal.id" cButtonClose class="btn btn-revature-primary">
                <svg [cIcon]="icons.cilX" size="xl" width="10"></svg>
            </button>
        </c-modal-header>
        <form [formGroup]="userForm" (submit)="onInviteLinkClick()">
            <c-modal-body>
                <div class="form-group">
                    <label for="name">Name: </label>
                    <input type="text" class="form-control" formControlName="name">
                </div>
                <div class="form-group">
                    <label for="email">Email: </label>
                    <input type="email" class="form-control" formControlName="email">
                </div>
            </c-modal-body>
            <c-modal-footer>
                <input type="submit" value="Go To Test" class="btn login-btn btn-outline-revature-primary"
                    [cModalToggle]="userModal.id" cButton (click)="onInviteLinkClick()" />
            </c-modal-footer>
        </form>
    </c-modal>
</div>